<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weibangbang">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity
            android:name=".aty.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aty.MainActivity"></activity>
        <activity android:name=".aty.home.MakeMoneyAty" />
        <activity android:name=".aty.home.OpenMemberAty" />
        <activity android:name=".aty.home.FreeLeadAty" />
        <activity android:name=".aty.home.PutInAty" />
        <activity android:name=".aty.home.ShareMoneyAty" />
        <activity android:name=".aty.member.TaskHallAty" />
        <activity android:name=".aty.member.TaskRulesAty" />
        <activity android:name=".aty.member.MyTaskAty" />
        <activity android:name=".aty.LoginAty" />
        <activity android:name=".aty.personal.PersonaInfoAty" />
        <activity android:name=".aty.personal.ChangePasswordAty" />
        <activity android:name=".aty.personal.MineTeamAty" />
        <activity android:name=".aty.personal.MineWalletAty" />

        <!--支付宝支付 START-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!--支付宝支付 END-->


        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--微信支付-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity android:name=".aty.home.PayMemberAty" />
        <activity android:name=".aty.home.ContactCustomerAty" />
        <activity android:name=".aty.member.RankingListAty" />


    </application>

</manifest>